<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>541962990533-rd4ofivq4ttildkclh3g12tbdnu0qum6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541962990533-rd4ofivq4ttildkclh3g12tbdnu0qum6</string>
	<key>API_KEY</key>
	<string>AIzaSyDYnW7cksh3oeROMoKvv3ihKgkV7Ui4K1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>541962990533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.haka.ios.helper</string>
	<key>PROJECT_ID</key>
	<string>notas-app-cf113</string>
	<key>STORAGE_BUCKET</key>
	<string>notas-app-cf113.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:541962990533:ios:334136bc70f94ed8</string>
	<key>DATABASE_URL</key>
	<string>https://notas-app-cf113.firebaseio.com</string>
</dict>
</plist>